* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Rules */

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

/* Navbar Rules */

.bg-white {
    width: 100%;
    /* height: 1vh; */
    position: fixed;
    z-index: 999;
    padding-bottom: 5px;
    padding-top: 5px;
}

    .bg-white > .container {
        width: 100%;
    }
        
        .ms_row_nav {
            padding-top: 10px;
        }

 
                .ms_logo  img {
                    width: 70%;
                }

                .ms_logo_extended {
                    display: none;
                }

            .ms_search input {
                cursor: pointer;
                width: 100%;
                border-radius: 5px;
            }    

            .ms_search {
                position: relative;
            }

            label {
                position: absolute;
                top: 0;
                left: 2px;
            }

            #ms_search_lens {
                background-color: #e5e5e5;
                padding-left: 20px;
            }

            
            .ms_bell_icon {
                color: #ff8f00;
                position: relative;
            }

            .ms_bell_icon:hover {
                color: #000;
            }

            .ms_lg_icon {
                display: none;
                color: #5b5858;
            }

            .ms_lg_icon:hover {
                color: #000;
            }

            
            /* ul {
                display: none;
                list-style-type: none;
            } */



            .ms_bell_icon:hover #ms_dropdown_menu {
                display: block;
            }



/* Container Rules */

#wrapper > .container-fluid {
    height: 90vh;
    margin-top: 10vh;
}

    .row {
        height: 100%;
    }

/* Side Menu Rules */

.col-1 {
    height: 100%;
}

    #ms_side_nav {
        /* DEBUG */
        height: 100%;
        width: 100%;
        padding-top: 1rem;
        padding-left: 2rem;
        position: relative;
    }

        .icon {
            display: flex;
            /* DEBUG */
            width: 20px;
            height: 5%;
            /* margin-left: 35%; */
            margin-bottom: 10%;
        }

            .icon a {
                color: #fff;
            }

            .icon span {
                display: none;
                color: #fff;
            }

            .icon:hover {
                background-color: #a3a2a2;
                cursor: pointer;
            }

        .icon.bot {
            position: absolute;
            bottom: 1rem;
        }

        

/* Main Content Rules */

.g-0 > .col {
    overflow-y: auto;
    height: 90vh;
}

/* Top Section Rules */

    #ms_top_sec {
        height: 20%;
    }

/* Bot Section Rules */

    .col > .row {
        height: 80%;
    }

        [class*="col"] {
            height: 100%;
        }

        .ms_sec {
            /* DEBUG */
            border: 1px dashed #000;
            border-radius: 10px;
            height: 50%;
        }


/* Responsive */

@media screen and (min-width: 992px) {
    
    /* Navbar */

    .ms_logo {
        display: none;
    }

    .ms_logo_extended {
        display: block;
    }

    .ms_lg_icon {
        display: inline-block;
    }

    .ms_dropdown {
        display: flex;
        justify-content: space-around;
    }

    /* Side Menu */

    #ms_side_nav {
        padding-left: 0.5rem;
    }   

    .icon {
        min-width: 75px;
        gap: 0.3rem;
    }

    .icon span {
        display: block;
    }

    .icon.bot {
        right: 10px;
    }
}