* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Rules */

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

/* Navbar Rules */

.bg-white {
    width: 100%;
    /* height: 1vh; */
    position: fixed;
    z-index: 999;
    padding-bottom: 5px;
    padding-top: 5px;
}

    .bg-white > .container {
        width: 100%;
    }
        
        .ms_row_nav {
            padding-top: 10px;
        }

            .ms_right_nav {
                display: flex;
                justify-content: space-around;
            }

 
                .ms_logo  img {
                    width: 30px;
                }

                .ms_logo_extended {
                    display: none;
                }

            .ms_search input {
                cursor: pointer;
                width: 100%;
                border-radius: 5px;
            }    

            .ms_search {
                position: relative;
            }

            label {
                position: absolute;
                top: 0;
                left: 2px;
            }

            #ms_search_lens {
                background-color: #e5e5e5;
                padding-left: 20px;
            }

            
            .ms_lg_icon {
                display: none;
                color: #5b5858;
            }

            .ms_lg_icon:hover {
                color: #000;
            }


            .ms_dropbtn {
                /* background-color: #4CAF50; */
                color: #ff8f00;
                /* padding: 16px; */
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            .ms_dropdown {
                position: relative;
                display: inline-block;
            }

            .ms_dropdown_content {
                display: none;
                position: absolute;
                top: 30px;
                right: 0;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 500;
            }

            .ms_dropdown_content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .ms_dropdown_content a:hover {
                background-color: #f1f1f1
            }

            .ms_dropdown:hover .ms_dropdown_content {
                display: block;
            }

            .ms_dropdown:hover .ms_dropbtn {
                background-color: #a3a2a2;
            }



/* Container Rules */

#ms_container_bottom {
    height: 90vh;
    width: 100%;
    margin-top: 10vh;
    display: flex;
}

    

/* Side Menu Rules */

#ms_side_menu {
    height: 100%;
    width: 50px;
    background-color: #051e34;
}

    #ms_side_nav {
        /* DEBUG */
        height: 100%;
        width: 100%;
        padding-top: 1rem;
        padding-left: 1rem;
        position: relative;
    }

        .icon {
            display: flex;
            /* DEBUG */
            width: 20px;
            height: 5%;
            /* margin-left: 35%; */
            margin-bottom: 10%;
        }

            .icon a {
                color: #fff;
            }

            .icon span {
                display: none;
                color: #fff;
            }

            .icon:hover {
                background-color: #a3a2a2;
                cursor: pointer;
            }

        .icon.bot {
            position: absolute;
            bottom: 1rem;
        }

        

/* Main Content Rules */

#ms_content {
    overflow-y: auto;
    flex-grow: 1;
    height: 90vh;
}

/* Top Section Rules */

    #ms_top_sec {
        /* height: 30%; */
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

        .ms_top_content {
            color: #fff;
            margin-bottom: 1rem;
        }

            .ms_top_row {
                display: flex;
                gap: 0.5rem;
                margin-bottom: 1rem;
            }
            
            .ms_bot_row {
                display: flex;
                gap: 0.5rem;
            }

                .ms_label {
                    background-color: rgba(0,0,0,0.4);
                    border-radius: 20px;
                    padding: 7px 5px;
                    font-size: 13px;
                }

                .ms_label.round {
                    border-radius: 50%;
                    padding: 1rem;
                    font-size: 20px;
                }

                .ms_label.ext {
                    display: none;
                }

/* Bot Section Rules */

    

        [class*="col"] {
            height: 100%;
        }

        .ms_sec {
            /* DEBUG */
            border: 1px solid #d8d8d8;
            border-radius: 10px;
            /* height: 40%; */
        }

        .ms_title {
            border-bottom: 1px solid #d8d8d8;
        }

        


/* Responsive */

@media screen and (min-width: 992px) {
    
    /* Navbar */

    .ms_logo {
        display: none;
    }

    .ms_logo_extended {
        display: block;
    }

    .ms_lg_icon {
        display: inline-block;
    }

    .ms_dropdown {
        display: flex;
        justify-content: space-around;
    }

    /* Side Menu */

    #ms_side_menu {
        width: 100px;
    }
    
    #ms_side_nav {
        padding-left: 0.5rem;
    }   

    .icon {
        min-width: 75px;
        gap: 0.3rem;
    }

    .icon span {
        display: block;
    }

    .icon.bot {
        right: 10px;
    }

    /* Main Content */

    #ms_top_sec {
        /* height: 20%; */
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .ms_top_content {
        /* width: 50%; */
    }

    .ms_label.ext {
        display: block;
    }
}